@model Prueba_IIP.Model.ViewModel.EditarGrupoViewModel
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

<div class="row">
    <div class="col-12">
        @using (Html.BeginForm("Editar", "Grupo", FormMethod.Post, new { role = "form", }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(d => d.Id);
            @Html.LabelFor(d => d.NombreGrupo, new { @class = "form-content" })
            @Html.TextBoxFor(d => d.NombreGrupo, new { @class = "form-control" })

            <br />

            <div style="text-align left;">
                <input type="submit" class="btn btn-primary" value="Guardar">
            </div>
        }
    </div>
</div>